a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #95cf48;
}

hr {
  width: 200%;
  height: 2px;
  background-color: #ffb1a0;
  border: 0;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}
