@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body,
div#root {
  height: 100%;
  width: 100%;
  background-color: #dffab4;
  font-family: 'Source Code Pro', monospace;
}

button {
  background-color: #dffab4;
  border: #95cf48 solid 3px;
  border-radius: 15px;
}

/* body {
  background-image: url('../public/assets/NotedBG.png');
  background-repeat: no-repeat;
  background-size: cover;
} */

.bgImg {
  position: absolute;
  right: -40px;
  bottom: 0;
  height: 400px;
}
