.logo {
  grid-area: logo;
  max-height: 20vh;
  margin-left: 15%;
}
.welcome {
  grid-area: welcome;
}

.githubButton {
  grid-area: githubButton;
}

.userForm {
  grid-area: userForm;
}

.swapLogin {
  grid-area: swapLogin;
}

.computer {
  grid-area: computer;
  height: 45vh;
}

.container {
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    'logo logo logo'
    'welcome . .'
    'githubButton . .'
    'userForm . .'
    'swapLogin computer computer'
    '. computer computer';
}

.bgImgLight {
  background-image: url('../../../public/assets/NotedBG.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: #000;
}

.bgImgDark {
  background-image: url('../../../public/assets/NotedLandingDark.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: #fbf5d6;
}
